<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742527822495-d247fe3goe4ogervntboo1drlgvqjtkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742527822495-d247fe3goe4ogervntboo1drlgvqjtkg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>742527822495-v3p0kcvfesq8u0ltn9c2l9r0prcnbpp8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCudiOBT_ikw3j2IdrBa2Qu9qwv-_VLMC8</string>
	<key>GCM_SENDER_ID</key>
	<string>742527822495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SplitBuddy</string>
	<key>PROJECT_ID</key>
	<string>gharkharch-9c5e5</string>
	<key>STORAGE_BUCKET</key>
	<string>gharkharch-9c5e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742527822495:ios:8c18f7d55983afe03950aa</string>
	<key>DATABASE_URL</key>
	<string>https://gharkharch-9c5e5-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>