name: Dev Build to Firebase
on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      
      - name: Install Ruby & Bundler
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true
      
      - name: Distribute Android
        run: |
          cd apps/mobile/android
          bundle install
          bundle exec fastlane android distribute
        env:
          ANDROID_APP_ID: "1:742527822495:android:bafa9eead14bbe843950aa"
          FIREBASE_APP_DISTRIBUTION_SERVICE_CREDENTIALS: ${{ secrets.FIREBASE_DEV_SERVICE_ACCOUNT }}
